* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(img/pro-1601989014-1614911860.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 1.5em;
    margin-top: 3em;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: red;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 5em;
    background-color: rgba(0, 0, 0, .5);
}

.menu-vertical > li > a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.menu-vertical > li:hover {
    text-decoration: underline;
}

.menu-horizontal >li:hover .menu-vertical {
    display: block;
}